

 .body1{
    background-color: rgb(250, 199, 134);
    backface-visibility: visible;
    background-repeat: no-repeat;
    background-size: cover;
    
 }
   
@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}

/* Apply the animation to the body element */
.bodyFront {
  background: url('https://c.tenor.com/TwQ151ItR70AAAAC/universe-space.gif');
  background-size: inherit;
  animation: moveBackground 10s linear infinite;
}

 .buttonMain{
  float: left;
  background-color: rgb(14, 13, 13);
  border-color: rgb(34, 32, 33);
  color: aliceblue;
  margin-left:90%;
  padding:0.2%;
  width: 8%;
  
 }
 .buttonMain a{
  color: whitesmoke;
  display: block;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
 }

 .buttonMain a:hover {
  background-color:rgb(241, 41, 71);
 }

 
 .button1{
  display:inline;
  margin-left: 7%;
  margin-right: auto;
  padding: 30px;
  background-color: rgb(41, 169, 243);
  font-size: larger;
  font-weight:400;
  font-family: cursive;
 }

 .button1 a{
  color: whitesmoke;
  display: block;
  text-align: center;
  padding: 100px 100px;
  text-decoration: none;
 }

 .button1:hover {
  background-color:rgb(136, 15, 243);
  padding:50px 50px;
 }

 

 .container {
  position: relative;
  width: 50%;
  margin-bottom: 5%;

  
}

.image {
  display: inline;
  width: 60%;
  height: 60%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 60%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

 
 

 footer{
  text-align:center;
  position:fixed;
  bottom: 0;
  right: 0;

 }

 @media only screen and (max-width: 600px){
     .body1,.bodyFront,.button1,.button1:hover,.buttonMain,.container,.container:hover,.image,.overlay,.text{
      width: 100%;
     }
 }